version: "3"

networks: 
  frontend:
    driver: bridge

services:
  server:
    container_name: server
    build:
      context: ./docker/nextjs
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/src/app  
    env_file:
      - ./.env.local
    networks:
      - frontend  
    ports:
      - 3000:3000
    restart: always

  nginx:
    container_name: nginx
    image: nginx:latest
    volumes: 
      - ./epiclogue.ssl/cert:/ssl
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/log:/var/log/nginx
    ports:
      - 443:443
      - 80:80
    networks:
      - frontend
    restart: always
